html,
body {
  padding: 0;
  margin: 0;
}

#app {
  max-width: 600px;

  min-width: min(600px, calc(90vw));
  min-height: 500px;
  margin: auto;

  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;

  color: white;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 18px;
  background: black;

  background-image: url(https://cdn.pixabay.com/photo/2012/01/09/09/59/earth-11595_1280.jpg); 
 /* background-image: url(https://cryptologos.cc/logos/ravencoin-rvn-logo.svg?v=023); */
  
  background-size: cover;
}

.glassy {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h2 {
  margin-top: 40px;
  display: block;
}

button,
.button {
  background-color: black;
  color: white;
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;

  margin-top: 20px;
}

h1{
  font-size: 400%;
}
.card {

  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-body img {
  border-radius: 10px;
}

.card-body {
  padding: 10px;
  text-align: center;
}

.card-footer {
  text-align: center;
  font-size: 30px;
  min-height: 30px;

}